<FormattingRules>
    <Header>
        <Field name="Name" maxLength="50" paddingChar=" " align="Right" />
        <Field name="Email" maxLength="40" paddingChar="x" align="Right" />
        <Field name="Age" maxLength="10" paddingChar=" " align="Right" />
        <Field name="Address" maxLength="100" paddingChar=" " align="Right" />
        <Field name="Obs" maxLength="1000" paddingChar=" " align="Right" />
        <Field name="MoneyAvailable" maxLength="15" paddingChar="0" align="Left" />
    </Header>
    <Information>
        <Field name="Name" maxLength="50" paddingChar=" " align="Right" />
        <Field name="Email" maxLength="40" paddingChar="x" align="Right" />
        <Field name="Age" maxLength="10" paddingChar=" " align="Right" />
        <Field name="Address" maxLength="100" paddingChar=" " align="Right" />
        <Field name="Obs" maxLength="1000" paddingChar=" " align="Right" />
        <Field name="MoneyAvailable" maxLength="15" paddingChar="0" align="Left" />
    </Information>
</FormattingRules>